name: Deploy Laravel

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.APP_DIR }}
            git pull origin master
            cd docker
            docker compose -p telegram down > /dev/null 2>&1
            docker compose -p telegram up -d > /dev/null 2>&1
            docker compose -p telegram exec -u www-data -T php composer install \
              --no-dev \
              --optimize-autoloader > /dev/null 2>&1
            docker compose -p telegram exec -u www-data -T php composer dump-autoload
            docker compose -p telegram exec -u www-data -T php php artisan migrate --force
            docker compose -p telegram exec -u www-data -T php php artisan config:clear
            docker compose -p telegram exec -u www-data -T php php artisan config:cache
            docker compose -p telegram exec -u www-data -T php php artisan route:cache
