name: Deploy Laravel

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.APP_DIR }}
            git pull origin master
            cd docker
            make down
            make up
            docker compose exec -T telegram_php composer install \
              --no-dev \
              --optimize-autoloader
            docker compose exec -T telegram_php php artisan migrate --force
            docker compose exec -T telegram_php php artisan config:clear
            docker compose exec -T telegram_php php artisan config:cache
            docker compose exec -T telegram_php php artisan route:cache
